.flexbox{
	display: flex;
	flex-direction: column;
}

hr{
	margin: 0;
	padding: 0;
}
.more_options{
	font-size: 18px;
}

h2{
	color: rgb(252, 252, 252);
	font-size: 10px !important;
}

.f-box{
	display: flex;
	flex-direction: row;
	background-color: #fcfcfc;
	justify-content: flex-end;
	align-items: center;
	box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.05);
}
.align-left{
	flex-grow: 1;
	justify-content: flex-start;
}

.slds-card{
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

body{
	background-color: #fcfcfc;
}

.dropdown_image{
	margin: 0;
	width:15px;
	height:15px;
}

li a{
	font-size: 14px;
}

.side-bar{
	background: rgb(48,48,48);
}

@media (min-width: 480px){
	h2{
		color: rgb(0, 160, 255);
		font-size: 10px !important;
	}
	.slds-card{
		margin-top: 0 !important;
	}
	.flexbox{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.val{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 0;
		margin-bottom: 0;
		padding:0;
	}
	.image_section{
		margin: 0;
		width:30px;
		height:30px;
	}
	.view_link{
		justify-content: left;
	}
	.name_section{
		margin: 0;
		flex-shrink: 10;
		text-align: left;
	}	
	.alert_image{
		border-right: 1px solid rgba(151, 151, 151, 0.15);
		border-left: 1px solid rgba(151, 151, 151, 0.15);
	}
	.side-bar{
		background: linear-gradient(-45deg, rgb(239, 243, 248) 0%, rgb(231, 246, 255) 100%);
		max-width:20%;
	}
	.show_vertical{
		display: flex;
		flex-direction: column;
	}
}

header .image_section{
	width:30px;
	height:30px;
}

.hamburger, .close-menu{
	justify-content: flex-start;
	width:25px;
	height:25px;
}

.to_show{
	display:block !important;
}

.to_hide{
	display:none !important;
}